{
    "Build": {
            "Host":             "localhost",
            "Jail":             "/Users/dustinhiatt/.hello/build",
            "ZookeeperInclude": "/Users/dustinhiatt/zookeeper/include/zookeeper",
            "ZookeeperLib":     "/Users/dustinhiatt/zookeeper/lib",
            "Tool":             "/Users/dustinhiatt/Workspaces/go/bin/4build",
            "PrefixPath":       "/usr/local/bin",

            "AppRepo":          "{rsync}/Users/dustinhiatt/workspaces/go",
            "AppSrc":           "/",

            "GoRepo":           "{rsync}/go",
            "RebuildGo":        false,

            "CircuitRepo":      "{rsync}/Users/dustinhiatt/workspaces/go",
            "CircuitSrc":       "/",

            "WorkerPkg":        "hello/worker",
            "CmdPkgs":          ["hello/cmd/hello-spawn"],
            "ShipDir":          "/Users/dustinhiatt/.hello/ship"
    },
    "Deploy": {
            "Dir":              "/home/dustinhiatt/hello",
            "Worker":           "4hello"
    },
    "Zookeeper": {
        "Workers": ["23.251.153.186:2181"],
        "Dir":     "/home/dustinhiatt/hello"
    }
}